muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8bc7f8ae-86bd-4a16-97c5-fc8828812f5e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="dcd8ebe6-e651-404f-9a6a-c4b6173e8e47" >
		<http:listener doc:name="Listener" doc:id="88513f99-e90f-4184-acc6-1036ea623285" config-ref="HTTP_Listener_config" path="\mule"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f0ef55fb-ff48-45dd-97e5-4836e8980d62" />
	</flow>
</mule>
